<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clab.member.dao.MemberMapper">

    <resultMap id="memberMap" type="com.clab.member.dto.MemberDto">
        <id property="userId" column="user_id"/>
        <result property="id" column="id"/>
        <result property="password" column="password"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="image" column="image"/>
        <result property="refreshToken" column="refresh_token"/>
        
    </resultMap>

    <!-- 전체 조회 -->
    <select id="findAll" resultMap="memberMap">
        SELECT
            user_id,
            id,
            password,
            username,
            email,
            image,
            refresh_token
        FROM member
    </select>

    <!-- 단건 조회 -->
    <select id="findById"
            parameterType="int"
            resultMap="memberMap">
        SELECT
            user_id,
            id,
            password,
            username,
            email,
            image,
            refresh_token
        FROM member
        WHERE user_id = #{id}
    </select>
    
    <select id="findByEmail" 
    		parameterType="String"
    		resultMap="memberMap">
        SELECT
            user_id,
            id,
            password,
            username,
            email,
            image,
            refresh_token
        FROM member
        WHERE email = #{email}
    </select>

    <!-- 등록 -->
    <insert id="insert" parameterType="com.clab.member.dto.MemberDto">

        INSERT INTO member
        (
            id,
            password,
            username,
            email,
            image
        )
        VALUES
        (
            #{id},
            #{password},
            #{username},
            #{email},
            #{image}
        )

    </insert>

    <!-- 수정 -->
    <update id="update">
        UPDATE member
        SET
            id = #{dto.id},
            password = #{dto.password},
            email = #{dto.email},
            username = #{dto.username},
            image = #{dto.image}
        WHERE user_id = #{id}
    </update>

    <update id="updateRefreshToken">
        UPDATE member
        SET
			refresh_token = #{refreshToken}
        WHERE user_id = #{id}
    </update>
    
    <!-- 삭제 -->
    <delete id="delete" parameterType="int">

        DELETE FROM member
        WHERE user_id = #{id}

    </delete>

</mapper>