<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clab.participant.dao.ParticipantMapper">

    <resultMap id="participantMap" type="com.clab.participant.dto.ParticipantDto">
        <id property="id" column="id"/>
        <result property="chatId" column="chat_id"/>
        <result property="name" column="name"/>
        <result property="count" column="count"/>
        <result property="score" column="score"/>
        <result property="averageReplyTime" column="average_reply_time"/>
        <result property="chatLength" column="chat_length"/>
        <result property="comment" column="comment"/>
        <result property="alias" column="alias"/>
        <result property="personaId" column="persona_id"/>
    </resultMap>

    <!-- 전체 조회 -->
    <select id="findAll" resultMap="participantMap">
        SELECT
            id,
            chat_id,
            name,
            count,
            score,
            average_reply_time,
            chat_length,
            comment,
            alias,
            persona_id
        FROM participant
    </select>

    <!-- 단건 조회 -->
    <select id="findById"
            parameterType="int"
            resultMap="participantMap">
        SELECT
            id,
            chat_id,
            name,
            count,
            score,
            average_reply_time,
            chat_length,
            comment,
            alias,
            persona_id
        FROM participant
        WHERE id = #{id}
    </select>
    
    <select id="findByChatId" 
    		parameterType="int"
    		resultMap="participantMap">
        SELECT
            id,
            chat_id,
            name,
            count,
            score,
            average_reply_time,
            chat_length,
            comment,
            alias,
            persona_id
        FROM participant
        WHERE chat_id = #{chatId}
    </select>
    
    <!-- 등록 -->
    <insert id="insert"
    parameterType="com.clab.participant.dto.ParticipantDto"
    useGeneratedKeys="true"
    keyProperty="id"
    >

        INSERT INTO participant
        (
            chat_id,
            name,
            count,
            score,
            average_reply_time,
            chat_length,
            comment,
            alias,
            persona_id
        )
        VALUES
        (
            #{chatId},
            #{name},
            #{count},
            #{score},
            #{averageReplyTime},
            #{chatLength},
            #{comment},
            #{alias},
            #{personaId}
        )

    </insert>

    <!-- 삭제 -->
    <delete id="delete" parameterType="int">

        DELETE FROM participant
        WHERE id = #{id}

    </delete>

    <!-- 삭제 -->
    <delete id="deleteByChatId" parameterType="int">

        DELETE FROM participant
        WHERE chat_id = #{chatId}

    </delete>
    
</mapper>